.navbar .navbar-brand img {
     height: 100%;
     max-width: 100%;
     width: auto;
 }

 .navbar .navbar-brand {
     align-items: center;
     display: flex;
     flex-shrink: 0;
     gap: .5rem;
     height: var(--pst-header-height);
     margin: 0;
     max-height: var(--pst-header-height);
     padding: .5rem 0;
     position: relative;
     width: auto;
 }
